.event-editor {
  margin-bottom: 20px;
}

.event-editor .ant-form-item-control {
  line-height: initial;
}

.event-editor .ant-form-item {
  margin-bottom: initial;
}

.editor-button-area {
  height: 32px;
}

.editor-button {
  float: right;
  margin-left: 5px;
}