.editor-image-uploader {
  margin-top: 20px;
}

.ant-input.editor-textarea {
  display: inline-block;
  max-width: 80%;
}

.editor-button {
  display: inline-block;
  margin-right: 7px;
}

.editor-button-area {
  top: 4px;
  position: absolute;
  right: 26px
}