.friends-list {
  /*border: 1px solid;*/
  /*padding: 15px;*/
}

.friends-list .ant-avatar.ant-avatar-icon {
  margin-top: 5px;
}

.friends-button > button {
  font-size: 13px;
}

.friends-button > button:hover {
  font-weight: 700;
}

.friends-button > .ant-btn.ant-btn-link {
  color: rgba(0, 0, 0, 0.45);
}
.friends-button > .ant-btn.ant-btn-link:hover {
  color: #03cf5d;
}

.friends-list .friends-button .ant-btn-primary {
  border-color: #1890ff !important;
}

.friends-list .ant-list-item-meta-title {
  margin-bottom: -3px;
}

.friends-list .ant-list-item-meta-description {
  font-size: 12px;
}

.myfriends-delete {
  margin-right: 5px;
}