.login-form {
  max-width: 300px;
  margin: auto;
  padding-top: 20px;
}

.login-form a {
  color: #03cf5d;
}

.login-form .ant-form-item {
  margin-bottom: 10px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  margin-top: 20px;
  width: 100%;
}
