.my-profile-edit .ant-form-item-label {
  line-height: initial;
}

.my-profile-edit .ant-form-item {
  margin-bottom: 10px;
  margin-left: 5px;
}

.my-profile-edit .ant-upload-list.ant-upload-list-text {
  display: none;
}

.my-profile-edit .ant-avatar.ant-avatar-square.ant-avatar-icon, .profile-image > img {
  cursor: pointer;
}
.my-profile-edit .ant-avatar.ant-avatar-square.ant-avatar-icon:hover, .profile-image > img:hover {
  opacity: 0.7;
}